@model PIMS.Models.PatientList
@{
    ViewData["Title"] = "List Page";
}

<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<style>
    table {
        width: 100%;
    }
</style>
<div className="container body-content container-grid">
    <div class="input-group rounded">
        <form class="input-group rounded" asp-controller="Home" asp-action="DoctorPatientList">
            <input type="text" class="form-control rounded" placeholder="Search" name="id"/>
            <input type="submit" value="Search" />
        </form>
        @*<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />*@

        @*<span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>*@
    </div>&nbsp;
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="tg-0lax">ID</th>
                <th class="tg-0lax">Last</th>
                <th class="tg-0lax">First</th>
                <th class="tg-0lax">Floor</th>
                <th class="tg-0lax">Room</th>
                <th class="tg-0lax">Bed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Patient p in Model.Patients)
            {
            <tr>
                <td class="tg-0lax"><a asp-controller="Home" asp-action="DoctorPatientDetail" asp-route-id="@p.PatientID">@p.PatientID</a></td>
                <td class="tg-0lax">@p.LastName</td>
                <td class="tg-0lax">@p.FirstName</td>
                <td class="tg-0lax">@p.FloorNumber</td>
                <td class="tg-0lax">@p.RoomNumber</td>
                <td class="tg-0lax">@p.BedNumber</td>
            </tr>
            }

        </tbody>
    </table>
</div>
