@model PIMS.Models.Patient
@{
    ViewData["Title"] = "Detail Page";
}


<style type="text/css">
    label {
        font-weight: bold;
        text-align: left;
    }

    hr {
        width: 100%;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="text-align: center;">@Model.FirstName @Model.LastName</h2>
                <div class="card">
                    <div class="card-header">
                        <a asp-controller="Home" asp-action="NursePatientEdit" asp-route-id="@Model.PatientID" class="btn btn-secondary" style="float: right;"> Edit</a>
                        <div class="h4">ID: @Html.DisplayFor(modelItem => Model.PatientID)</div>
                    </div>
                    <div class="card-body">
                        <div class="row ">
                            <label class="col-md-2 test">Last:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.LastName)</div>

                            <label class="col-md-2 test">First:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.FirstName)</div>

                            <label class="col-md-2 test">Middle:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.MiddleName)</div>

                            <label class="col-md-2 test">Home Phone:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.HomePhone)</div>

                            <label class="col-md-2 test">Work Phone:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.WorkPhone)</div>

                            <label class="col-md-2 test">Mobile Phone:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.MobilePhone)</div>

                            <label class="col-md-2 test">Address:</label>
                            <div class="col-md-10">@Html.DisplayFor(modelItem => Model.Address)</div>

                            <label class="col-md-2 test">City:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.City)</div>

                            <label class="col-md-2 test">State:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.State)</div>

                            <label class="col-md-2 test">ZipCode:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.Zipcode)</div>

                            <hr />
                            <label class="col-md-12 test">Emergency Contact 1</label>

                            <label class="col-md-2 test">Name:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.EC1Name)</div>

                            <label class="col-md-2 test">Phone:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.EC1Phone)</div>

                            <label class="col-md-2 test">Relationship:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.EC1Relationship)</div>

                            <hr />
                            <label class="col-md-12 test">Emergency Contact 2</label>

                            <label class="col-md-2 test">Name:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.EC2Name)</div>

                            <label class="col-md-2 test">Phone:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.EC2Phone)</div>

                            <label class="col-md-2 test">Relationship:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.EC2Relationship)</div>

                            <hr />

                            <label class="col-md-2 test">Admission Date:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.Admittance)</div>

                            <label class="col-md-2 test">Admission Time:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.Admittance)</div>

                            <label class="col-md-2 test">Admission Reason:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.AdmittanceReason)</div>

                            <label class="col-md-2 test">Family Doctor:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.FamilyDoctor)</div>

                            <label class="col-md-2 test">Discharge Date:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.Discharge)</div>

                            <label class="col-md-2 test">Discharge Time:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.Discharge)</div>

                            <hr />

                            <label class="col-md-12 test">Location</label>

                            <label class="col-md-2 test">Floor:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.FloorNumber)</div>

                            <label class="col-md-2 test">Room Number:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.RoomNumber)</div>

                            <label class="col-md-2 test">Bed Number:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.BedNumber)</div>

                            <hr />

                            <label class="col-md-2 test">Number of Visitors:</label>
                            <div class="col-md-10">@Html.DisplayFor(modelItem => Model.NumberOfVisitors)</div>

                            <label class="col-md-2 test">Approved Visitors:</label>
                            <div class="col-md-10">@Html.DisplayFor(modelItem => Model.ApprovedVisitors)</div>

                            <hr />

                            <label class="col-md-2 test">Doctor Notes:</label>
                            <div class="col-md-10">@Html.DisplayFor(modelItem => Model.DoctorNotes)</div>

                            <hr />

                            <label class="col-md-2 test">Nurse Notes:</label>
                            <div class="col-md-10">@Html.DisplayFor(modelItem => Model.NurseNotes)</div>

                            <hr />

                            <label class="col-md-2 test">Prescriptions:</label>
                            <div class="col-md-10">@Html.DisplayFor(modelItem => Model.Prescriptions)</div>

                            <hr />

                            <label class="col-md-2 test">Scheduled Procedures:</label>
                            <div class="col-md-10">@Html.DisplayFor(modelItem => Model.Procedures)</div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

