@model PIMS.Models.PatientList
@{
    ViewData["Title"] = "List Page";
}

<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<style>
    table {
        width: 100%;
    }
</style>
<div className="container body-content container-grid">
    <div class="input-group rounded">
        <form class="input-group rounded" asp-controller="Home" asp-action="NursePatientList">
            <input type="text" class="form-control rounded" placeholder="Search" name="id" value="@ViewBag.SearchQuery" />
            <input type="submit" class="btn btn-secondary border-0" value="Search" />
        </form>
    </div>&nbsp;
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="tg-0lax">ID</th>
                <th class="tg-0lax">Last</th>
                <th class="tg-0lax">First</th>
                <th class="tg-0lax">Floor</th>
                <th class="tg-0lax">Room</th>
                <th class="tg-0lax">Bed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Patient p in Model.Patients)
            {
                <tr>
                    <td class="tg-0lax"><a asp-controller="Home" asp-action="NursePatientDetail" asp-route-id="@p.PatientID">@p.PatientID</a></td>
                    <td class="tg-0lax">@p.LastName</td>
                    <td class="tg-0lax">@p.FirstName</td>
                    <td class="tg-0lax">@p.FloorNumber</td>
                    <td class="tg-0lax">@p.RoomNumber</td>
                    <td class="tg-0lax">@p.BedNumber</td>
                </tr>
            }

        </tbody>
    </table>
</div>
