@model PIMS.Models.Patient
@{
    ViewData["Title"] = "Detail Page";
}


<style type="text/css">
    label {
        font-weight: bold;
        text-align: left;
    }

    hr {
        width: 100%;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="text-align: center;">@Model.FirstName @Model.LastName</h2>
                <div class="card">
                    <div class="card-header">
                        <a asp-controller="Home" asp-action="VolunteerPatientEdit" asp-route-id="@Model.PatientID" class="btn btn-secondary" style="float: right;"> Edit</a>
                        <div class="h4">ID: @Html.DisplayFor(modelItem => Model.PatientID)</div>
                    </div>
                    <div class="card-body">
                        <div class="row ">
                            <label class="col-md-2 test">Last:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.LastName)</div>

                            <label class="col-md-2 test">First:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.FirstName)</div>

                            <label class="col-md-2 test">Middle:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.MiddleName)</div>

                            <hr />

                            <label class="col-md-12 test">Location</label>

                            <label class="col-md-2 test"> Floor:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.FloorNumber)</div>

                            <label class="col-md-2 test"> Room Number:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.RoomNumber)</div>

                            <label class="col-md-2 test"> Bed Number:</label>
                            <div class="col-md-2">@Html.DisplayFor(modelItem => Model.BedNumber)</div>

                            <hr />

                            <label class="col-md-2 test">Number of Visitors:</label>
                            <div class="col-md-10">@Html.DisplayFor(modelItem => Model.NumberOfVisitors)</div>

                            <label class="col-md-2 test">Approved Visitors:</label>
                            <div class="col-md-10">@Html.DisplayFor(modelItem => Model.ApprovedVisitors)</div>

                            <hr />
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

